<table>
<th><tr><td>name</td><td>content</td><td>user</td><td>created time</td></tr></th>
<% @blogs.each do |blog| %>
<tr>
<td>
<%= blog.name %>
</td>
<td>
<%= blog.content %> 
</td>
<td>
<%= blog.user.first_name %>
</td> 
<td>
<%= blog.created_at %>
</td>
</tr>
<% end %>
</table>