<table>
<tr>
<td>Blog_name:</td>
<td><%= @blog.name %>
</td>
</tr>
<tr>
<td>Blog_content:</td>
<td><%= @blog.content %> 
</td>
</tr>
</table>
<p> <%= link_to "Write a comment", new_comment_path() %>
<p> <%= link_to "Create a blog", new_blog_list_path %></p>

